.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 300px;
    gap: 10px
}

.button-active{
    display: none
}
.button-modal{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;    
    font-family: 'DynaPuff', cursive;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 5px;
}
