
.modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 560px;
	width: 100%;
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 4px;


	.modal-close {
		display: inline-flex;
		vertical-align: middle;
		text-align: center;
		box-sizing: border-box;
		align-items: center;
		justify-content: center;
		text-decoration: none !important;
		outline: none;
		-webkit-appearance: none;
		border: none;
		cursor: pointer;
		user-select: none;
		background-color: transparent;
		fill: white;
	}

	.modal-header {
		font-size: 16px;
		display: flex;
		padding: 10px 20px;
		justify-content: space-between;
	}

	.modal-text{
		color: white;
		margin: 0;
		font-size: 22px;
	}

	.modal-content-text {
		margin: 0;
		color: white;
		text-align: center;
		padding: 30px 0;
		font-size: 18px;
	}

	.modal-footer {
		margin-top: 24px;
	}

	.button-wrapper {
		display: flex;
		justify-content: center;
		gap: 10px;
		align-items: center;
		padding: 10px 0;
		.btn{
			background-color: #af4c4c; 
			border: none;
			color: white;
			padding: 10px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			border-radius: 4px;
		}


	}

	.input {
		.input-box {
			height: 41px;
			width: 100%;
			border-radius: 4px;
			border: 1px solid #c7cccf;
			padding: 0 16px;
			box-sizing: border-box;
			line-height: normal;
			font-size: 24px;
		}
	}
}