.main{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: center;
    max-width: 1200px;
}

.item{
    text-align: center;
    background-color: white;
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 300px;   
    border-radius: 15px;
    border: 2px solid silver;

}
.item__img{
    padding-top: 11px;
    width: 200px;
    height: 200px;
    align-self: center;
}


.item__name{
    font-family: 'DynaPuff', cursive;
    font-size: 22px;
    color: black;

}
.item__price{
    color: red;
    font-family: 'DynaPuff', cursive;
    font-size: 34px;
}
.item__color{
    font-family: 'DynaPuff', cursive;
    font-size: 18px;
    color: black;
}
.item__article{
    font-family: 'DynaPuff', cursive;
    font-size: 18px;
    color: black;
}

.button-add {
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    width: 100px;
    align-self: center;
    background: #0B63F6;
}


.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}