.header{
    background-color:lemonchiffon;
    display: flex;
    align-items: center;
    padding: 0px 50px;
    justify-content: space-between;
    .header-logo{
        padding-top: 5px;
        padding-bottom: 5px;
        width: 150px;
    }
}
.header-button{
    display: flex;
    align-items: center;
    gap: 30px;
}
.header-favorite{
    width: 55px;
    fill: red;
}
.header-bag:hover{
    fill: red;
}

.count-buy {
    position: absolute;
    top: 41px;
    right: 42px;
    font-size: 20px;
    display: flex;
    width: 55px;
    color: white;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
}
.count-favorite {
    position: absolute;
    top: 39px;
    font-size: 20px;
    display: flex;
    width: 55px;
    font-family: 'Roboto', sans-serif;
    color: black;
    justify-content: center;
}


.header-bag{
    width: 40px;
    height: 40px;
}
.header-bag:hover{
    fill: red;
}

  