.footer{
    background-color: black;
    height: 355px;
    text-align: center;
}
    .footer__title{
    padding-top: 66px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: white;
    text-transform: uppercase;

        @media (max-width:480px) {
        font-size: 14px;
        }
    }
    .footer__text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: white;
    padding-top: 22px;
    padding-bottom: 37px;

        @media (max-width:480px) {
            font-size: 12px;
        }
    }

.footer__contacts{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: white;
    padding-top: 34px;
    padding-bottom: 70px;

        @media (max-width:480px) {
            font-size: 14px;
            display: grid;
        }
}


.footer__icons{
    display: flex;
    gap: 6px;
    justify-content: center;
}

