.menu{
  @media (min-width:760px) and (max-width:1000px){
    display: flex;
    gap: 34px;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 51px;
  }

  @media (min-width:1000px){
    display: flex;
    gap: 68px;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 51px;
  }

  @media (max-width:760px) {
    display: flex;
    flex-direction: column;
  }
}



@media (min-width:760px){
  #bars,#time{
    display: none;
  }
}

@media (max-width:760px) {

    .head{
        display: none;
        margin: 0;
        position: absolute;
        width: 182px;
        height: 200px;;
        background: #F5F5F5;
        margin-top: 60px;
        right: 10px;
      }
  
      .head.active{
        display: block;
      }
  
      .head .menu__item{
        padding: 9px 0 8px 13px;;
        list-style: none;
      }
  
      #bars{
        border: 0;
        margin: 23px 0;
        color: white;
        background-color: black;
        font-size: 20px;
        float: right;
        padding-bottom: 7px;
        padding-top: 7px;
        padding-left: 13px;
        padding-right: 13px;
      }
}

.menu__item{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #4E4E4E;
    text-decoration: none;
}

.menu__item:hover{
  color:#57A4A4;
  background-color:#E5E5E5;;
}



