.intro__banner-img{
    
    max-width: 100%;
    
    
}

.intro__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin-top: 66px;
    margin-bottom: 24px;

    @media (max-width:480px) {
        margin-top: 38px;
    }
}

.gallery{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 25px;
    row-gap: 32px; 
    @media (min-width: 481px) and (max-width:992px) {
        grid-template-columns: 1fr;
        
    }
    
    @media (max-width:480px) {
        grid-template-columns: 1fr;        
    }
}

.gallery__item{
    display: flex;
    column-gap: 21px;
    @media (max-width:480px) {
        flex-wrap: wrap;
        gap: 13px;
    }
}
.gallery__item-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px; 
    @media (max-width:480px) {
    display: block;
    }
   }

  



   .gallery__item-comments{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
   }

   .gallery__item-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
        @media (max-width:480px) {
            content-visibility: hidden;
        }
   }
.section__instagram{
    height: 427px;
    background: #cccccc;
    margin-top: 69px;
}

.instagram__title{
    padding-top: 47px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;

    @media (min-width: 481px) and (max-width:1189px) {
        padding-top: 47px;
        padding-bottom: 35px;
    }
    
    
        @media (max-width:480px) {
        margin-top: 38px;
        margin-bottom: 13px;
        }
    
    
    &--hidden{
        @media (max-width:480px) {
            content-visibility: hidden;
        }
    }



}



.instagram__postlist{
    display: flex;
    column-gap: 10px;
    justify-content: center;
    &--first{
        @media (min-width: 600px) and (max-width:992px) {
        width: 32%;
        }

        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
           
    }

    &--hidden{
        @media (min-width: 600px) and (max-width:992px) {
        width: 32%;
        }

        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
           
    }
    
        
            @media  (max-width:600px) {
                &--img:not(:first-child){  
                  width: 301px; 

                }

                &--hidden{
                    display: none;

                }
            }
        

&--hidden:last-child{
    @media (min-width: 481px) and (max-width:1190px) {

        display: none;
        }

    }
}