@import "./header";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "./main.scss";
@import "./footer.scss";

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;

    @media (min-width: 481px) and (max-width:992px) {
        max-width: 768px;
        margin: 0 auto;
        padding: 0 10px;
    }
}